.navbar{
    width: 100%;
    background: #070707;
    height: 55px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo{
    background-image: url(../../../img/logo.svg);
    width: 110px;
    height: 35px;
    background-repeat: no-repeat;
}

.search{
    display: flex;
    align-items: center;
    background: #212121;
    border-radius: 2.82px;
    max-width: 747px;
    height: 35px;
    position: relative;
}

.search input{
    outline: none;
    border: none;
    background: none;
    font-size: 14.58px;
    color: #ddd;
    position: relative;
    padding: 12px;
}

.search input::placeholder{
    color: #7B7B7B;
}

.search button{
    border: none;
    outline: none;
    background: #666666;
    height: 100%;
    color: #fff;
    font-size: 12.23px;
    border-top-right-radius: 2.82px;
    border-bottom-right-radius: 2.82px;
    padding: 0 17px;
}