.navbar-wrapper{
    background: #070707;
    height: 55px;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}
.navbar{
    max-width: 1323px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 10px;
    flex: 0 0 33%;
    justify-content: space-between;
}

.logo{
    background-image: url(../../../img/logo.svg);
    width: 110px;
    height: 35px;
    background-repeat: no-repeat;
}

.search{
    display: flex;
    align-items: center;
    background: #212121;
    border-radius: 2.82px;
    max-width: 747px;
    height: 35px;
    position: relative;
}

.search input{
    outline: none;
    border: none;
    background: none;
    font-size: 14.58px;
    color: #ddd;
    position: relative;
    padding: 12px;
    padding-right: 95px;
    margin-left: 25px;
}

.search input::placeholder{
    color: #7B7B7B;
}

.search button{
    border: none;
    outline: none;
    background: #666666;
    height: 100%;
    color: #fff;
    font-size: 12.23px;
    border-top-right-radius: 2.82px;
    border-bottom-right-radius: 2.82px;
    padding: 0 17px;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.search .search-icon{
    background-image: url(../../../img/search-icon.svg);
    width: 20px;
    height: 15px;
    background-repeat: no-repeat;
    position: absolute;
    left: 10px;
}